@page "/ajustesParametros"

@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject UsuariosService UsuariosService
@inject AutentificacionService AutentificacionService

@inject ParametrosService ParametrosServices
@inject NotificationService NotificationService
<RadzenNotification />

<PageTitle>Parametros Operacionales</PageTitle>


@if (acceso == "permitido")
{
	<EditForm Model="parametro" OnValidSubmit="Guardar">
		<DataAnnotationsValidator />

		<div class="card" style="border-radius: 20px;">

			<div class="card-header bg-primary" style="border-radius: 20px 20px 0px 0px;">
				<div class="row text-center text-white">
					<h3>Parametros Operacionales</h3>
				</div>
			</div>

			<div class="card-body">

				<div class="row">
					<div class="col-6">
						<label class="fw-bold">Monto Tareas (Gravedad):</label>
						<InputNumber class="form-control" @bind-Value="parametro.MontoGravedad"></InputNumber>
						<ValidationMessage For="@(() => parametro.MontoGravedad)" />
					</div>
					<div class="col-6">
						<label class="fw-bold">Monto Tareas (Bomba):</label>
						<InputNumber class="form-control" @bind-Value="parametro.MontoBomba"></InputNumber>
						<ValidationMessage For="@(() => parametro.MontoBomba)" />
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label class="fw-bold">Porciento de Recargo</label>
						<InputNumber class="form-control" @bind-Value="parametro.PorcentajeRecargos"></InputNumber>
						<ValidationMessage For="@(() => parametro.PorcentajeRecargos)" />
					</div>
					<div class="col-6">
						<label class="fw-bold">Tiempo Proximo Pago (Dias):</label>
						<InputNumber class="form-control" @bind-Value="parametro.TiempoProximoPago"></InputNumber>
						<ValidationMessage For="@(() => parametro.TiempoProximoPago)" />
					</div>
				</div>
			</div>

			<div class="card-footer">
				<div class="text-end">
					<button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
				</div>
			</div>
		</div>
	</EditForm>
}


else if(acceso == "denegado")
{

<style>

	.container {
		text-align: center;
		max-width: 600px;
		padding: 10px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		margin-top: 18%;
	}

		.container h1 {
			font-size: 2.5rem;
			color: #333;
			margin-bottom: 20px;
		}

		.container p {
			font-size: 1.2rem;
			color: #666;
			margin-bottom: 30px;
		}

		.container i {
			font-size: 4rem;
			color: #f44336;
		}
</style>


<div class="container">
	<i class="fas fa-exclamation-triangle"></i>
	<h1>ACCESO RESTRINGIDO</h1>
	<p>Disculpa las molestias, usted no tiene acceso a este apartado, no consta de suficientes permisos.</p>
	<p>¡Regrese mas tarde!</p>
</div>
}


@code {


	public string acceso = "";

	protected override async void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			var buscado = await AutentificacionService.usuarioActual(JSRuntime, UsuariosService);
			if (buscado != null)
			{
				if (buscado.Rol == "Administrador")
				{
					acceso = "permitido";
				}
				else
				{
					acceso = "denegado";
				}
				StateHasChanged();
			}
			else
			{
				await AutentificacionService.CerrarSesion(JSRuntime);
			}
		}
	}



	public Parametros parametro = new Parametros();

	protected override async Task OnInitializedAsync()
	{
		var busqueda = await ParametrosServices.Buscar(1);
		if (busqueda != null)
		{
			parametro = busqueda;
		}
	}

	public async Task Guardar()
	{
		var guardado = await ParametrosServices.Guardar(this.parametro);
		if (guardado)
		{
			Mensaje("Existoso", "Guardado con exito!", 4000, "Exito");
		}
		else
		{
			Mensaje("Error", "Hubo un error al guardar los datos!", 4000, "Error");
		}
	}


	public void Mensaje(string cabecera, string mensaje, int tiempo, string tipo)
	{
		NotificationMessage objetoMensaje = null;

		if (tipo == "Advertencia")
		{
			objetoMensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Warning,
					Summary = cabecera,
					Detail = mensaje,
					Duration = tiempo
				};
		}
		else if (tipo == "Exito")
		{
			objetoMensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Success,
					Summary = cabecera,
					Detail = mensaje,
					Duration = tiempo
				};
		}
		else if (tipo == "Error")
		{
			objetoMensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = cabecera,
					Detail = mensaje,
					Duration = tiempo
				};
		}

		NotificationService.Notify(objetoMensaje);
	}

}
